<h1>All Toys</h1>

<section>
    <% @toys.each do |toy| %>
        <%= link_to(toy) do %>
            <div>
            <%= image_tag toy.pic if toy.pic.attached? %>
            <h2><%= toy.name %></h2>
            <p><%= toy.date%></p>
            </div>
        <% end %>
    <% end %>
</section>


